<nav>
  <div class="site-title">
    <a href="/"><h1>Maintainance Planner page</h1></a>
    <p>AALRTSE Working Page</p>
  </div>
  <ul> 
    <li><a href="/">Operation Status</a></li>
    <li><a href="/about">Critical Informations</a></li>
    <li><a href="/blogs/create">New Plans Applications</a></li>
  </ul>
</nav>